demo/src/main/app/documentum_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:documentum="http://www.mulesoft.org/schema/mule/documentum" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/documentum http://www.mulesoft.org/schema/mule/documentum/1.0/mule-documentum.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd ">
    <context:property-placeholder location="documentum.properties"/>
    <documentum:config name="Documentum" username="${documentum.username}" password="${documentum.password}" repository="${documentum.repository}" server="${documentum.server}" doc:name="Documentum">
        <documentum:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </documentum:config>
    <flow name="CreateDocument" doc:name="CreateDocument">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="createdocument" doc:name="HTTP"/>
        <documentum:create-document config-ref="Documentum" filePath="/Library/Application Support/Apple/iChat Icons/Flags/Usa.gif" folderPath="/documentum" doc:name="Documentum"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="CreateFolder" doc:name="CreateFolder">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="createfolder" doc:name="HTTP"/>
        <documentum:create-folder config-ref="Documentum" folderName="Andrew" folderPath="/documentum" doc:name="Documentum"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="CreatePath" doc:name="CreatePath">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="createpath" doc:name="HTTP"/>
        <documentum:create-path config-ref="Documentum" folderPath="/documentum/Andrew/Bressi" doc:name="Documentum"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="Query" doc:name="Query">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="query" doc:name="HTTP"/>
        <documentum:query config-ref="Documentum" dqlStatement="select owner_name, object_name from dm_acl" doc:name="Documentum"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="CreateAcl" doc:name="CreateAcl">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="createAcl" doc:name="HTTP"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy">
                <scripting:text><![CDATA[import java.util.ArrayList;
import java.util.List;
import com.emc.documentum.fs.datamodel.core.Permission;
import com.emc.documentum.fs.datamodel.core.PermissionType;
import com.emc.documentum.fs.datamodel.core.acl.AclEntry;
import com.emc.documentum.fs.datamodel.core.acl.AccessType;

Permission basicReadPermission = new Permission();
basicReadPermission.setName("READ");
basicReadPermission.setType(PermissionType.BASIC);

Permission basicDeletePermission = new Permission();
basicDeletePermission.setName("DELETE");
basicDeletePermission.setType(PermissionType.BASIC);

List<AclEntry> entryList = new ArrayList<AclEntry>();

AclEntry aclEntry = new AclEntry();
aclEntry.setAccessType(AccessType.PERMIT);
aclEntry.setAccessor("dm_world");
List<Permission> permissionList = new ArrayList<Permission>();
permissionList.add(basicReadPermission);
aclEntry.getPermissions().addAll(permissionList);

AclEntry aclEntry1 = new AclEntry();
aclEntry1.setAccessType(AccessType.PERMIT);
aclEntry1.setAccessor("dm_owner");
List<Permission> permissionList1 = new ArrayList<Permission>();
permissionList1.add(basicDeletePermission);
aclEntry1.getPermissions().addAll(permissionList);

entryList.add(aclEntry);
entryList.add(aclEntry1);

return entryList;]]></scripting:text>
            </scripting:script>
        </scripting:component>
        <documentum:create-acl config-ref="Documentum" aclDescription="Second Acl" aclName="SecondAcl" aclType="REGULAR" aclVisibility="PUBLIC" doc:name="Documentum">
            <documentum:acl-entries ref="#[payload]"/>
        </documentum:create-acl>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="GetAcls" doc:name="GetAcls">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getAcls" doc:name="HTTP"/>
        <documentum:get-acls config-ref="Documentum" doc:name="Documentum"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>